@model LuwAdmin.Web.Models.MemberViewModels.MemberIndexViewModel
<link href="~/lib/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Members List";
}   

<section class="content-header">
    <h1>
        Members
        <small>Home</small>
    </h1>
    <p>
        <div class="btn-group" role="group">
            <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> New</a>
            @*<div class="btn-group" role="group">
                <button id="process" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="fa fa-random"></span> Processing <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="process">
                    <li><a href="~/member/SendEmailExpireNext30Days">Email expiring in next 30 days</a></li>
                    <li><a href="#">Email expired past 30 days</a></li>
                    <li><a href="#">Email all</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Expire members</a></li>
                </ul>
            </div>*@
        </div>
    </p>

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@ViewData["MemberCount"]</h3>
                    <p>Members</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
                <a href="~/member/index" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@ViewData["Last30Days"]</h3>
                    <p>New members past 30 days</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="~/member/index?status=Last30" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-orange">
                <div class="inner">
                    <h3>@ViewData["Next30Days"]</h3>
                    <p>Expiring next 30 days</p>
                </div>
                <div class="icon">
                    <i class="ion ion-calendar"></i>
                </div>
                <a href="~/member/index?status=Next30" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Members List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div style="padding-left: 20px">
                        <table id="memberTable" class="table table-hover table-bordered table-responsive">
                            <thead>
                            <tr><th></th></tr>
                            </thead>
                            <tbody>
                            @for (int i = 0; i < Model.Members.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <div>
                                            <div class="col-md-1">
                                                <i class="fa fa-user-circle text-light-blue" style="font-size: 48pt; text-align: left;"></i>
                                            </div>
                                            <div class="col-md-11">
                                                <div>
                                                    <div class="col-md-12">
                                                        <div style="font-size: 24pt;">
                                                            <a href="~/Member/Details/@Model.Members[i].Id">@Html.DisplayFor(Model => Model.Members[i].CommonName)</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <div>
                                                            @Html.DisplayFor(Model => Model.Members[i].FirstName) @Html.DisplayFor(Model => Model.Members[i].LastName) 
                                                        </div>
                                                        <div>
                                                            <i>@Html.DisplayFor(modelItem => Model.Members[i].Pseudonym)</i>
                                                        </div>
                                                        <div>
                                                            <a href="mailto:@Model.Members[i].Email">@Html.DisplayFor(modelItem => Model.Members[i].Email)</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        @Html.DisplayFor(model => Model.Members[i].Street1)
                                                    </div>
                                                    <div>
                                                        @Html.DisplayFor(model => Model.Members[i].Street2)
                                                    </div>
                                                    <div>
                                                        @Html.DisplayFor(model => Model.Members[i].City), @Html.DisplayFor(model => Model.Members[i].State) @Html.DisplayFor(model => Model.Members[i].ZipCode)
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        @Html.LabelFor(modelItem => Model.Members[i].WhenExpires)
                                                        @if (Model.Members[i].DaysToExpiration < 0)
                                                        {
                                                            <span class="label label-danger" style="font-size: 10pt;">@Html.DisplayFor(m => Model.Members[i].WhenExpires) (@(Model.Members[i].DaysToExpiration * -1) days past due)</span>
                                                        }
                                                        else if (Model.Members[i].IsExpiring)
                                                        {
                                                            <span class="label label-warning" style="font-size: 10pt;">@Html.DisplayFor(m => Model.Members[i].WhenExpires) (@Model.Members[i].DaysToExpiration days)</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@Html.DisplayFor(m => Model.Members[i].WhenExpires) (@Model.Members[i].DaysToExpiration days)</span>
                                                        }
                                                    </div>
                                                    <div>
                                                        @Html.LabelFor(modelItem => Model.Members[i].WhenJoined)
                                                        @Html.DisplayFor(modelItem => Model.Members[i].WhenJoined)
                                                    </div>
                                                    <div>
                                                        @Html.DisplayFor(modelItem => Model.Members[i].PersonTypeName)
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    @for (var j = 0; j < Model.Members[i].Chapters.Count; j++)
                                                    {
                                                        <div class="col-sm-12">
                                                            <div class="col-sm-4">
                                                                @Html.DisplayFor(c => Model.Members[i].Chapters[j].Name)
                                                                @if (Model.Members[i].Chapters[j].IsPrimary)
                                                                {
                                                                    <span> <i class="fa fa-heart text-heart"></i></span>
                                                                }
                                                            </div>
                                                            <div class="col-sm-4">
                                                                @if (Model.Members[i].Chapters[j].IsExpiring)
                                                                {
                                                                    <span class="label label-warning" style="font-size: 9pt">@Html.DisplayFor(c => Model.Members[i].Chapters[j].WhenExpires) (@Html.DisplayFor(c => Model.Members[i].Chapters[j].DaysToExpiration))</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>@Html.DisplayFor(c => Model.Members[i].Chapters[j].WhenExpires) (@Html.DisplayFor(c => Model.Members[i].Chapters[j].DaysToExpiration) days)</span>
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="col-md-1">
                                                    <a asp-controller="Renewal" asp-action="Renew" asp-route-id="@Model.Members[i].Id" class="btn btn-warning"><i class="fa fa-calendar-alt"></i> Renew</a>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            setActiveMenu("#menuMembers");
            $('#memberTable').DataTable({
                "ordering": false
            });
            var item = '#' + $('#Status').val();
            $(item).addClass('pin-selected').attr('disabled', 'disabled');
            $('#process').dropdown();
        });

        function submitForm(status) {
            $("#Status").val(status);
            document.index.submit();
        }

        function indexParam(status) {
            window.location.href = "\index\?status=" + status;

        }
    </script>
}
