@model IEnumerable<LuwAdmin.Web.Models.RenewalViewModels.RenewalIndexViewModel>
<link href="~/lib/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Renewals List";
}

<section class="content-header">
    <h1>
        Renewals
        <small>Home</small>
    </h1>
    <p>
        <div class="btn-group" role="group">
            <a asp-action="ProcessRenewals" class="btn btn-success"><i class="fa fa-random"></i> Process</a>
        </div>
    </p>
   
    <div class="row" style="margin-top: 20px">
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.Count()</h3>
                    <p>Total people</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
            </div>
        </div>
         <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-orange">
                <div class="inner">
                    <h3>@ViewBag.MemberToRenewCount</h3>
                    <p>Expiring next 30 days</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@ViewBag.MemberExpiredCount</h3>
                    <p>Didn't renew past 30 days</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@ViewBag.ChapterCount</h3>
                    <p>Total chapters</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-people"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-orange">
                <div class="inner">
                    <h3>@ViewBag.ChapterToRenewCount</h3>
                    <p>Expiring next 30 days</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-people"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@ViewBag.ChapterExpiredCount</h3>
                    <p>Didn't renew past 30 days</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-people"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Renewals List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="renewalTable" class="table table-hover table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    <div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2"><b>Name/Person Type</b></div>
                                        <div class="col-md-2"><b>Address/Email</b></div>
                                        <div class="col-md-6">
                                            <div>
                                                <div class="col-sm-12">
                                                    <div class="col-sm-3">
                                                        <b>Chapter</b>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <b>Expires</b>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <b>Last Email</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div>
                                        <div class="col-md-1">
                                            <i class="fa fa-user-circle text-light-blue" style="font-size: 48pt; text-align: left;"></i>
                                        </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <div style="font-size: 24pt;">
                                                        <a href="~/Member/Details/@item.MemberId" target="_blank">@Html.DisplayFor(Model => item.CommonName)</a>
                                                    </div>
                                                    <div>
                                                        @Html.DisplayFor(Model => item.Name)
                                                    </div>
                                                    <div>
                                                        <i>@Html.DisplayFor(modelItem => item.Pseudonym)</i>
                                                    </div>
                                                    
                                                    <br/>
                                                    <div>
                                                        @Html.DisplayFor(modelItem => item.PersonTypeName)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    @Html.DisplayFor(model => item.Street1)
                                                </div>
                                                <div>
                                                    @Html.DisplayFor(model => item.Street2)
                                                </div>
                                                <div>
                                                    @Html.DisplayFor(model => item.City), @Html.DisplayFor(model => item.State)  @Html.DisplayFor(model => item.ZipCode)
                                                </div>
                                                <br />
                                                <div>
                                                    <a href="mailto:@item.Email">@Html.DisplayFor(modelItem => item.Email)</a>
                                                </div> 
                                            </div>
                                        <div class="col-md-6">
                                            @foreach (var chapter in item.Chapters)
                                            {
                                                <div class="col-sm-12">
                                                    <div class="col-sm-3">
                                                        @Html.DisplayFor(c => chapter.Name) 
                                                        @if (chapter.IsPrimary)
                                                        {
                                                            <span> <i class="fa fa-heart"></i></span>
                                                        }
                                                    </div>
                                                    <div class="col-sm-4">
                                                        @if (chapter.WhenExpires.Date < DateTime.Now.Date)
                                                        {
                                                            <span class="label label-danger" style="font-size: 9pt">@Html.DisplayFor(c => chapter.WhenExpires) (@Html.DisplayFor(c => chapter.Days))</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@Html.DisplayFor(c => chapter.WhenExpires) (@Html.DisplayFor(c => chapter.Days))</span>
                                                        }
                                                    </div>
                                                    <div class="col-sm-4">@Html.DisplayFor(c => chapter.WhenLastRenewalSent)</div>
                                                </div>
                                            }
                                        </div>
                                        <div class="col-md-1">
                                            <a asp-action="Renew" asp-route-id="@item.MemberId" class="btn btn-warning"><i class="fa fa-calendar-alt"></i> Renew</a> 
                                        </div>
                                    </div>
                                </td>
                            </tr>
                                                        }
                        </tbody>
                    </table>
                </div>
          </div>
        </div>
    </div>
</section>

@section Scripts {
    
    
    <script>
        $(document).ready(function () {
            setActiveMenu("#menuRenewals");
            $('#renewalTable').DataTable({
                "ordering": false
            });
        });
    </script>
}
