@model IEnumerable<LuwAdmin.Web.Models.RenewalViewModels.RenewalIndexViewModel>
<link href="~/lib/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Renewals List";
}

<section class="content-header">
    <h1>
        Renewals
        <small>Home</small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Renewals List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="renewalTable" class="table table-hover table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Pen Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Person Type
                                </th>
                                <th>
                                    Renewals
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="~/Member/Details/@item.MemberId" target="_blank">@Html.DisplayFor(Model => item.Name)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pseudonym)
                                    </td>
                                    <td>
                                        <a href="mailto:@item.Email">@Html.DisplayFor(modelItem => item.Email)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PersonTypeName)
                                    </td>
                                    <td>
                                        <div>
                                            @if (item.IsMembershipRenewal)
                                            {
                                                <div class="col-xs-12" style="padding-left:0">
                                                    <div class="col-xs-3" style="padding-left:0">League Membership</div>
                                                    <div class="col-xs-3" style="padding-left: 0">
                                                        @if (DateTime.Now.Date <= item.WhenExpires.Date)
                                                        {
                                                            <span>
                                                                @Html.DisplayFor(modelItem => item.WhenExpires) (@Html.DisplayFor(modelItem => item.Days))
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-danger">
                                                                @Html.DisplayFor(modelItem => item.WhenExpires) (@Html.DisplayFor(modelItem => item.Days))
                                                            </span>
                                                        }
                                                    </div>
                                                    <div class="col-xs-2" style="padding-left:0">
                                                        @if (item.WhenLastRenewalSent.HasValue && item.WhenLastRenewalSent.Value.Year != 1)
                                                        {
                                                            @Html.DisplayFor(modelItem => item.WhenLastRenewalSent)
                                                        }
                                                    </div>
                                                </div>
                                            }
                                            @foreach (var chapter in item.Chapters)
                                            {
                                                <div class="col-xs-12" style="padding-left:0">
                                                    <div class="col-xs-3" style="padding-left: 0">
                                                        @Html.DisplayFor(c => chapter.Name)
                                                        @if (chapter.IsPrimary)
                                                        {
                                                            <span> <i class="fa fa-heart"></i></span>
                                                        }
                                                    </div>
                                                    <div class="col-xs-3" style="padding-left: 0">
                                                        @if (DateTime.Now.Date <= chapter.WhenExpires.Date)
                                                        {
                                                            <span>
                                                                @Html.DisplayFor(c => chapter.WhenExpires) (@Html.DisplayFor(c => chapter.Days))
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-danger">
                                                                @Html.DisplayFor(c => chapter.WhenExpires) (@Html.DisplayFor(c => chapter.Days))
                                                            </span>
                                                        }                                                    
                                                    </div>
                                                    <div class="col-xs-2" style="padding-left:0">
                                                        @if (chapter.WhenLastRenewalSent.HasValue && chapter.WhenLastRenewalSent.Value.Year != 1)
                                                        {
                                                            @Html.DisplayFor(c => chapter.WhenLastRenewalSent)
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <a asp-action="Renew" asp-route-id="@item.MemberId" class="btn btn-warning"><i class="fa fa-calendar-alt"></i> Renew</a>
                                    </td>
                                </tr>                
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    
    
    <script>
        $(document).ready(function () {
            setActiveMenu("#menuRenewals");
            $('#renewalTable').DataTable();
        });
    </script>
}
